@charset "UTF-8";



.create-course-form {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 400px;
	margin: auto;
	margin-top: 64px;
}

.create-btn {
	margin: auto;
	text-align: center;
}