<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Main</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/mainpage.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css">
</head>
<body>
	<header class="header" th:insert="~{header :: header-fr}"></header>
	<main class="main">
		<div class="container">
			<h2 class="main__title">Каталог онлайн курсов</h2>
			<div class="main__catalog">
				<div class="catalog__card" th:each="course: ${courses}">
					<a href="#"></a>
					<h3 class="catalog__card-title" th:text="${course.title}"></h3>
					<h4 class="catalog__card-description" th:text="${course.author.firstName} + ' ' + ${course.author.lastName}"></h4>
					<p class="catalog__card-time" th:text="${course.passingTime} + ч"></p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>